<div class="d-flex flex-column flex-shrink-0 p-3 bg-light"
     style="width: 280px; display: flex; justify-content: flex-start;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link " routerLink="/" (click)="homePage()">
        HOME
      </a>
    </li>
    <li>
      <a href="#" class="nav-link ">
        BOOTS
      </a>
    </li>
    <li>
      <a href="#" class="nav-link ">
        SHIRTS
      </a>
    </li>
    <li>
      <a href="#" class="nav-link ">
        BALL
      </a>
    </li>
    <li>
      <a href="#" class="nav-link ">
        SOCKS
      </a>
      <hr>
    </li>

    <a class="me-3 pt-2 text-dark text-decoration-none text-center" (click)="redirectToCart()"><strong>Cart</strong></a>

    <li>
      <a class="nav-link" (click)="logout()">
        Logout
      </a>
      <hr>
    </li>
  </ul>
  <hr>